<%= link_to 'Play around', '/ask' %>

<h1> Hello Guys</h1>

<form action="/questions">
  <input type="text" name="questions" value="You">
  <input type="submit" value="submit">
</form>

<p> this application has been created by <strong> Claire </strong> on <%= Time.now %> </p>

